@import 'src/css/variables';

.moduleContainer {
  position: absolute;
  outline: 1px solid $white-4;

  .controls {
    position: absolute;
    top: 0;
    right: 0;
    padding: $padding-xs;
    opacity: 0;
    transition: opacity 0.15s $transition, transform 0.15s $transition;
    transform: translateY(-$padding-sm);

    &.controlsEnterActive {
      opacity: 1;
      transform: translateY(0);

      button {
        pointer-events: all;
      }
    }
    &.controlsEnterDone {
      opacity: 1;
      transform: translateY(0);

      button {
        pointer-events: all;
      }
    }
    &.controlsExitActive {
      opacity: 0;
      transform: translateY(-$padding-sm);
    }

    button {
      display: inline-block;
      pointer-events: none;

      & + button {
        margin-left: $padding-xs;
      }
    }
  }
}
