@import 'src/css/variables';

.moduleContainer {
  position: relative;
  height: 100%;
  width: 100%;
  outline: 1px solid $white-5;
  background: var(--nextui-colors-background);
  overflow: hidden;
  overflow-y: auto;
  // z-index: 500;

  .controls {
    position: fixed;
    top: 0;
    right: 0;
    padding: $padding-xs;
    opacity: 0;
    transition: opacity 0.15s $transition, transform 0.15s $transition;
    transform: translateY(-$padding-sm);

    &.controlsEnterActive {
      opacity: 1;
      transform: translateY(0);

      button {
        pointer-events: all;
      }
    }
    &.controlsEnterDone {
      opacity: 1;
      transform: translateY(0);

      button {
        pointer-events: all;
      }
    }
    &.controlsExitActive {
      opacity: 0;
      transform: translateY(-$padding-sm);
    }

    button {
      display: inline-block;
      pointer-events: none;

      & + button {
        margin-left: $padding-xs;
      }
    }
  }
}
