@use 'sass:color';
@import 'css/variables';
@import 'css/fonts';

:root {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;

  color: $text-light-1;
  background-color: $background-1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: $accent-1;
  text-decoration: inherit;
}
a:hover {
  color: color.scale($accent-1, $lightness: -25%);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
